In [1]:
import pandas as pd

In [2]:
from fuzzywuzzy import fuzz

In [52]:
from fuzzywuzzy import process

1. ratio ，按顺序比较整个字符串的相似度

In [3]:
fuzz.ratio('Deluxe Room, 1 King Bed', 'Deluxe King Room')

62

In [4]:
fuzz.ratio('Traditional Double Room, 2 Double Beds', 'Double Room with Two Double Beds')

69

In [5]:
fuzz.ratio('Room, 2 Double Beds (19th to 25th Floors)', 'Two Double Beds - Location Room (19th to 25th Floors)')

74

2. partial_ratio，比较部分字符串的相似度。

In [6]:
fuzz.partial_ratio('Deluxe Room, 1 King Bed', 'Deluxe King Room')

69

In [7]:
fuzz.partial_ratio('Traditional Double Room, 2 Double Beds', 'Double Room with Two Double Beds')

83

In [8]:
fuzz.partial_ratio('Room, 2 Double Beds (19th to 25th Floors)', 'Two Double Beds - Location Room (19th to 25th Floors)')

63

3. token_sort_ratio，忽略单词顺序。

In [9]:
fuzz.token_sort_ratio('Deluxe Room, 1 King Bed', 'Deluxe King Room')

84

In [10]:
fuzz.token_sort_ratio('Traditional Double Room, 2 Double Beds', 'Double Room with Two Double Beds')

78

In [11]:
fuzz.token_sort_ratio('Room, 2 Double Beds (19th to 25th Floors)', 'Two Double Beds - Location Room (19th to 25th Floors)')

83

4. token_set_ratio，忽略重复的单词。它与token_sort_ratio类似，但更加灵活。

In [12]:
fuzz.token_set_ratio('Deluxe Room, 1 King Bed', 'Deluxe King Room')

100

In [13]:
fuzz.token_set_ratio('Traditional Double Room, 2 Double Beds', 'Double Room with Two Double Beds')

78

In [14]:
fuzz.token_set_ratio('Room, 2 Double Beds (19th to 25th Floors)', 'Two Double Beds - Location Room (19th to 25th Floors)')

97

----

In [15]:
port_name_path = './data/port_name.csv'

In [16]:
destination_path = './data/destination.csv'

In [17]:
df_port_name = pd.read_csv(port_name_path)

In [24]:
df_destination = pd.read_csv(destination_path)

In [22]:
df_port_name.head()

    port_name
0    Aabenraa
1    Aaheim m
2     Aalborg
3      Aalvik
4  Aandalsnes

In [25]:
df_destination.head()

  destination                update_time
0    DA  LIAN   20/4/2020 07:52:05.51+00
1     DUIBURG   20/4/2020 07:52:05.51+00
2   JINGJIANG   20/4/2020 07:52:05.51+00
3           !  20/4/2020 07:52:05.509+00
4          31  20/4/2020 07:52:05.509+00

In [27]:
port_name_ls = df_port_name['port_name'].tolist()

In [90]:
destination_ls = df_destination['destination'].tolist()

In [91]:
len(destination_ls)

156424

In [92]:
result = {}
for d in destination_ls:
    ratio_list = []
    for name in port_name_ls:
        ratio = fuzz.token_set_ratio(d, name)
        ratio_list.append((name, ratio))
    ratio_sort = sorted(ratio_list, key=lambda x: x[1],reverse=True)[:5]
    result[d] = ratio_sort

In [93]:
import json

In [102]:
with open('./data/json_result.json', 'a', encoding='utf-8') as f:
    json.dump(result, f, indent=4)

In [86]:
result = []
for index, name in enumerate(port_name_ls):
    ratio = fuzz.token_set_ratio("SG", name)
    result.append((name, ratio))

In [87]:
result_sort = sorted(result, key=lambda x: x[1],reverse=True)[:5]

In [88]:
print(result_sort)

[('Saigo', 57), ('Sangi', 57), ('Bislig', 50), ('Oswego', 50), ('Sabang', 50)]

In [103]:
process.extract("Dong Guang", port_name_ls, limit=5)

[('Dongguan', 89),
 ('Rang Dong', 80),
 ('Dongfang', 78),
 ('Dongguan Jiang', 75),
 ('Dong Hai', 67)]

In [105]:
import numpy as np

In [104]:
destination_path = './data/destination.csv'
df_destination = pd.read_csv(destination_path)

In [ ]:
bins =